<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.trade.mapper.FinalPaymentHistoryMapper">
	<!-- /com/example/trade/mapper/FinalPaymentHistoryMapper.xml -->
<select id="getFinalList" resultType="com.example.trade.dto.Contract">
SELECT
     c.contract_no          AS contractNo
   , c.down_payment         AS downPayment
   , c.down_payment_status  AS downPaymentStatus
   , c.down_payment_date    AS downPaymentDate
   , c.final_payment        AS finalPayment
   , c.final_payment_status AS finalPaymentStatus
   , c.final_payment_date   AS finalPaymentDate
   , ct.container_no        AS containerNo

   , EXISTS (
       SELECT 1
       FROM contract_delivery cd
       WHERE cd.container_no = ct.container_no
     ) AS deliveryExist

   , CASE
       WHEN ct.container_no IS NOT NULL
            AND DATE(c.final_payment_date) &lt; CURDATE()
            AND COALESCE((
                  SELECT cd3.contract_delivery_status
                  FROM contract_delivery cd3
                  WHERE cd3.container_no = ct.container_no
                  ORDER BY cd3.contract_delivery_time DESC, cd3.contract_delivery_no DESC
                  LIMIT 1
                ), '') &lt;&gt; 'DS009'
       THEN 1 ELSE 0
     END AS latestDeliveryStatus

   , CASE
       WHEN (
         SELECT cd4.contract_delivery_status
         FROM contract_delivery cd4
         WHERE cd4.container_no = ct.container_no
         ORDER BY cd4.contract_delivery_time DESC, cd4.contract_delivery_no DESC
         LIMIT 1
       ) = 'DS009'
       THEN 1 ELSE 0
     END AS recalled

FROM contract c
LEFT JOIN container ct ON ct.contract_no = c.contract_no
WHERE c.use_status ="Y" AND ct.use_status = "Y"
ORDER BY c.contract_no DESC;
</select>


</mapper>