<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.trade.mapper.RecallProductMapper">
  <select id="getRecallProductList" resultType="com.example.trade.dto.Container">
    SELECT
       ct.container_no AS containerNo
      ,ct.contract_no AS contractNo
	  ,ct.container_location AS containerLocation
	  ,u.`name` AS `name`
	  ,u.company_name AS companyName
	  ,pr.product_name AS productName
	  ,pr.product_option AS productOption
	  ,pr.product_quantity AS productQuantity
	  ,u.address AS address
	  ,u.detail_address AS detailAddress

    FROM container ct INNER JOIN contract c ON ct.contract_no = c.contract_no
    						INNER JOIN quotation q ON c.quotation_no = q.quotation_no
    						INNER JOIN product_request pr ON q.product_request_no = pr.product_request_no
    						INNER JOIN `user` u ON pr.create_user = u.id
    						INNER JOIN contract_delivery cd ON ct.container_no = cd.container_no
    WHERE contract_delivery_status = 'DS009'
    ORDER BY ct.container_no DESC
  </select>

	<update id="updateContractDeliveryStatus">
		UPDATE contract_delivery
		SET contract_delivery_status = 'DS009'
		WHERE container_no = #{containerNo}
	</update>
	
	<update id="updateContractDeliveryRollback">
		UPDATE contract_delivery
		SET contract_delivery_status = 'DS003'
		WHERE container_no = #{containerNo}
	</update>
</mapper>
