<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.trade.mapper.PaymentMethodMapper">
	<select id="getUserCardList" parameterType="string" resultType="com.example.trade.dto.PaymentMethod">
	    SELECT 
	        payment_method_no AS paymentMethodNo,
	        user_id AS userId,
	        financial_institution AS financialInstitution,
	        account_number AS accountNumber,
	        card_expiration AS cardExpiration,
	        is_default AS isDefault
	    FROM payment_method
	    WHERE user_id = #{userId} AND use_status="Y"
	</select>
	
	<insert id="insertCard" parameterType="com.example.trade.dto.PaymentMethod">
	    INSERT INTO payment_method
	        (user_id, payment_code, financial_institution, account_number, 
	         card_expiration, card_cvc, card_password, is_default, 
	         create_user, create_date, use_status)
	    VALUES
	        (#{userId}, #{paymentCode}, #{financialInstitution}, #{accountNumber}, 
	         #{cardExpiration}, #{cardCvc}, #{cardPassword}, #{isDefault}, 
	         #{createUser}, NOW(), #{useStatus})
	</insert>
</mapper>