<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.trade.mapper.ProductMapper">

	<!-- 개인 이름 조회 -->
	<select id="selectName" parameterType="String">
		SELECT name
		FROM user
		WHERE id = #{id}
	</select>
	
	<!-- 상품 후기 -->
	<select id="reviewList" resultType="map">
		SELECT 
			u.name,
			o.product_name AS productName,
			o.option_name_value AS optionNameValue,
			o.review,
			o.grade
		FROM `order` o
		INNER JOIN user u
			ON o.user_id = u.id
		WHERE review IS NOT NULL 
	</select>

	<!-- 상품 목록(찜 많은순) -->
	<select id="productListByWish" resultType="map">
		SELECT
		    p.product_no AS productNo,
		    MIN(p.product_name) AS productName,
		    CASE
		        WHEN SUM(CASE WHEN p.product_status = 'GS002' THEN 1 ELSE 0 END) > 0 THEN 'GS002'
		        ELSE 'GS003'
		    END AS productStatus,
		    IFNULL(w.wish_count, 0) AS wishCount
		FROM product p
		LEFT JOIN (
		    SELECT 
		        product_no, 
		        COUNT(*) AS wish_count
		    FROM wish_list
		    WHERE use_status = 'Y'
		    GROUP BY product_no
		) w ON p.product_no = w.product_no
		WHERE 
		    p.use_status = 'Y'
		    AND p.product_status IN ('GS002', 'GS003')
		GROUP BY 
		    p.product_no
		ORDER BY 
		    wishCount DESC
		LIMIT 0, 10
	</select>

	<!-- 상품별 대표 이미지 -->
	<select id="productMainImage" resultType="map">
		SELECT 
		    productNo,
		    filepath,
		    priority
		FROM (
		    SELECT 
		        category_code AS productNo,
		        filepath,
		        priority,
		        ROW_NUMBER() OVER (PARTITION BY category_code ORDER BY priority ASC) AS rn
		    FROM 
		        attachment
		    WHERE 
		        attachment_code = 'PRODUCT_IMAGE'
		        AND use_status = 'Y'
		) ranked
		WHERE rn = 1
	</select>
	
	<!-- 상품 하나에 대한 모든 이미지 -->
	<select id="productImage" parameterType="int" resultType="map">
		SELECT 
		    category_code AS productNo,
		    filepath
		FROM 
		    attachment
		WHERE 
		    attachment_code = 'PRODUCT_IMAGE'
		    AND category_code = #{productNo}
		    AND use_status = 'Y'
		order BY priority ASC
	</select>
	
	<!-- 개인 찜 목록 보기 -->
	<select id="wishList" parameterType="String" resultType="map">
		SELECT 
		    p.product_no AS productNo, 
		    MIN(p.product_name) AS productName, 
		    MIN(c.category_name) AS categoryName, 
		    MIN(p.use_status) AS productUseStatus,
		    MIN(p.price) AS price,
		    CASE
		        WHEN SUM(CASE WHEN p.product_status = 'GS002' THEN 1 ELSE 0 END) > 0 THEN 'GS002'
		        ELSE 'GS003'
		    END AS productStatus
		FROM wish_list w
		INNER JOIN product p ON w.product_no = p.product_no
		INNER JOIN category c ON p.category_id = c.category_id
		WHERE 
		    w.user_id = #{id}
		    AND w.use_status = 'Y'
		    AND p.product_status IN ('GS002', 'GS003')
		GROUP BY 
		    p.product_no
	</select>
	
	<!-- 개인 장바구니 목록 보기 -->
	<select id="shoppingCart" parameterType="String" resultType="map">
		SELECT
			sc.shopping_cart_no AS cartId,
			sc.user_id AS userId,
			p.product_no AS productNo, 
			p.option_no AS optionNo,
			p.product_name AS productName,
			o.option_name AS optionName,
			o.option_name_value AS optionNameValue,
			sc.quantity,
			i.quantity AS inventoryQuantity,
			CASE p.product_status
		        WHEN 'GS001' THEN '판매대기'
		        WHEN 'GS002' THEN '판매중'
		        WHEN 'GS003' THEN '일시품절'
		        WHEN 'GS004' THEN '영구중단'
		        ELSE '알수없음'
		    END AS productStatus,
			p.price,
			p.use_status AS useStatus
		FROM shopping_cart sc
		INNER JOIN product p
			ON sc.product_no = p.product_no
			AND sc.option_no = p.option_no
		INNER JOIN `option` o
			ON p.option_no = o.option_no
		LEFT JOIN inventory i
			ON p.product_no = i.product_no
			AND p.option_no = i.option_no
		WHERE sc.user_id = #{id}
			AND sc.use_status = 'Y'
	</select>
	
	<!-- 장바구니 아이디로 상품id, 옵션id 찾기 -->
	<select id="findProductAndOptionByCartId" resultType="map">
	    SELECT product_no AS productNo, option_no AS optionNo
	    FROM shopping_cart
	    WHERE shopping_cart_no = #{cartId}
	</select>
	
	<!-- 장바구니에 이미 상품이 담겨있는지 확인 -->
	<select id="checkCart" parameterType="map" resultType="int">
	    SELECT COUNT(*) 
	    FROM shopping_cart
	    WHERE user_id = #{userId}
	      AND product_no = #{productNo}
	      AND option_no = #{optionNo}
	      AND use_status = 'Y'
	</select>
	
	<!-- 최대 order_no 조회 -->
	<select id="findMaxOrderNo" resultType="int">
        SELECT COALESCE(MAX(order_no), 0)
		FROM `order`
    </select>
    
	<!-- 재고 조회 -->
	<select id="findInventoryQuantity" resultType="int">
	    SELECT quantity
	    FROM inventory
	    WHERE product_no = #{productNo} AND option_no = #{optionNo}
	</select>
	
	<!-- 카테고리(대분류) 목록 -->
	<select id="majorCategory" resultType="com.example.trade.dto.Category">
		SELECT
			category_id AS categoryId,
			category_name AS categoryName
		FROM category
		WHERE parent_category = '0'
	</select>
	
	<!-- 카테고리(중분류) 목록 -->
	<select id="middleCategory" parameterType="String" resultType="com.example.trade.dto.Category">
		SELECT
			category_id AS categoryId,
			category_name AS categoryName
		FROM category
		WHERE parent_category = #{id}
	</select>
	
	<!-- 카테고리별 상품 목록 보기(판매중, 일시품절만) -->
	<select id="productListByCategory" parameterType="String" resultType="map">
		WITH category_path AS (
		    SELECT 
		        c1.category_id AS category_id,
		        CASE 
		            WHEN c3.category_id IS NOT NULL THEN c3.category_id
		            WHEN c2.category_id IS NOT NULL THEN c2.category_id
		            ELSE c1.category_id
		        END AS category_id_lv1,
		
		        CASE 
		            WHEN c3.category_id IS NOT NULL THEN c2.category_id
		            WHEN c2.category_id IS NOT NULL THEN c1.category_id
		            ELSE NULL
		        END AS category_id_lv2,
		
		        CASE 
		            WHEN c3.category_id IS NOT NULL THEN c1.category_id
		            ELSE NULL
		        END AS category_id_lv3
		    FROM category c1
		    LEFT JOIN category c2 ON c1.parent_category = c2.category_id
		    LEFT JOIN category c3 ON c2.parent_category = c3.category_id
		),
		product_filtered AS (
		    SELECT *
		    FROM product
		    WHERE use_status = 'Y'
		      AND product_status IN ('GS002', 'GS003')
		),
		product_status_agg AS (
		    SELECT
		        product_no,
		        CASE
		            WHEN SUM(CASE WHEN product_status = 'GS002' THEN 1 ELSE 0 END) > 0 THEN '판매중'
		            ELSE '일시품절'
		        END AS productStatus
		    FROM product_filtered
		    GROUP BY product_no
		)
		SELECT 
		    pf.product_no AS productNo,
		    MIN(pf.product_name) AS productName,
		    MIN(pf.price) AS price,
		    psa.productStatus,
		    cp.category_id_lv1 AS categoryIdLv1,
		    cp.category_id_lv2 AS categoryIdLv2,
		    cp.category_id_lv3 AS categoryIdLv3
		FROM product_filtered pf
		LEFT JOIN category_path cp ON pf.category_id = cp.category_id
		JOIN product_status_agg psa ON pf.product_no = psa.product_no
		WHERE (#{parentId} IS NULL OR cp.category_id_lv1 = #{parentId})
		  AND (#{middleId} IS NULL OR cp.category_id_lv2 = #{middleId})
		GROUP BY pf.product_no, psa.productStatus, cp.category_id_lv1, cp.category_id_lv2, cp.category_id_lv3
		ORDER BY pf.product_no
	</select>
	
	<!-- 카테고리별 상품 목록 보기(전체) -->
	<select id="allProductListByCategory" parameterType="String" resultType="map">
		WITH category_path AS (
		    SELECT 
		        c1.category_id AS category_id,
		        CASE 
		            WHEN c3.category_id IS NOT NULL THEN c3.category_id
		            WHEN c2.category_id IS NOT NULL THEN c2.category_id
		            ELSE c1.category_id
		        END AS category_id_lv1,
		
		        CASE 
		            WHEN c3.category_id IS NOT NULL THEN c2.category_id
		            WHEN c2.category_id IS NOT NULL THEN c1.category_id
		            ELSE NULL
		        END AS category_id_lv2,
		
		        CASE 
		            WHEN c3.category_id IS NOT NULL THEN c1.category_id
		            ELSE NULL
		        END AS category_id_lv3
		    FROM category c1
		    LEFT JOIN category c2 ON c1.parent_category = c2.category_id
		    LEFT JOIN category c3 ON c2.parent_category = c3.category_id
		)
		SELECT 
		    p.product_no AS productNo,
		    p.product_name AS productName,
		    p.price,
		    p.use_status AS useStatus,
		    CASE 
		        WHEN MAX(CASE WHEN p.product_status = 'GS002' THEN 1 ELSE 0 END) = 1 THEN '판매중'
		        ELSE
		            CASE MAX(p.product_status)
		                WHEN 'GS001' THEN '판매대기'
		                WHEN 'GS003' THEN '일시품절'
		                WHEN 'GS004' THEN '영구중단'
		                ELSE '알수없음'
		            END
		    END AS productStatus,
		    cp.category_id_lv1 AS categoryIdLv1,
		    cp.category_id_lv2 AS categoryIdLv2,
		    cp.category_id_lv3 AS categoryIdLv3
		FROM product p
		LEFT JOIN category_path cp 
		    ON p.category_id = cp.category_id
		WHERE (#{parentId} IS NULL OR cp.category_id_lv1 = #{parentId})
		  AND (#{middleId} IS NULL OR cp.category_id_lv2 = #{middleId})
		GROUP BY p.product_no
	</select>
	
	<!-- 상품 상세 페이지 보기(개인용) -->
	<select id="personalProductOne" resultType="map">
		SELECT
		    p.product_no AS productNo,
		    p.product_name AS productName,
		    o.option_no AS optionNo,
		    o.option_name AS optionName,
		    o.option_name_value AS optionNameValue,
		    p.price,
		    i.quantity,
		   	w.use_status AS wishUseStatus
		FROM product p
		INNER JOIN `option` o 
			ON p.option_no = o.option_no
		LEFT JOIN inventory i 
			ON i.product_no = p.product_no 
			AND i.option_no = p.option_no
		LEFT JOIN wish_list w 
			ON w.product_no = p.product_no 
			AND w.user_id = #{id}
		WHERE p.product_no = #{productNo}
	</select>
	
	<!-- 상품 상세 페이지 보기(기업, 관리자용) -->
	<select id="productOne" parameterType="int" resultType="map">
		SELECT
		    p.product_no AS productNo,
		    p.product_name AS productName,
		    o.option_no AS optionNo,
		    o.option_name_value AS optionNameValue,
		    p.price,
		    p.product_status AS productStatus,
		    p.use_status AS productUseStatus,
		    i.quantity
		FROM product p
		INNER JOIN `option` o 
			ON p.option_no = o.option_no
		LEFT JOIN inventory i 
			ON i.product_no = p.product_no 
			AND i.option_no = p.option_no
		WHERE p.product_no = #{productNo}
	</select>
	
	<!-- 찜 테이블에 데이터 있는지 확인 -->
	<select id="checkWishExists" resultType="int">
	    SELECT COUNT(*)
	    FROM wish_list
	    WHERE user_id = #{userId}
			AND product_no = #{productNo}
	</select>
	
	<!-- 상품별 리뷰 보기 -->
	<select id="productReview" parameterType="int" resultType="map">
		SELECT 
			u.name,
			o.product_name AS productName,
			o.option_name_value AS optionNameValue,
			o.review,
			o.grade
		FROM `order` o
		INNER JOIN user u
			ON o.user_id = u.id
		WHERE review IS NOT NULL
			AND o.product_no = #{productNo}
		order BY grade DESC
	</select>
	
	<!-- 상품별 평균 평점 -->
	<select id="avgProductRate" parameterType="int" resultType="double">
		SELECT AVG(grade) AS avgGrade
		FROM `order`
		WHERE product_no = #{productNo}
	</select>
	
	<!-- 기업회원 배송지 -->
	<select id="bizAddress" parameterType="String" resultType="com.example.trade.dto.Address">
		SELECT 
			address_no AS addressNo,
			postal,
			address,
			detail_address AS detailAddress,
			main_address AS mainAddress
		FROM address
		WHERE user_id = #{id}
	</select>
	
	<!-- 대분류 최대 ID 조회 -->
	<select id="selectMaxMajorCategoryId" resultType="String">
		SELECT MAX(CAST(category_id AS UNSIGNED)) 
	    FROM category 
	    WHERE parent_category = '0'
	</select>
	
	<!-- 중분류, 소분류 최대 ID 조회 -->
	<select id="selectMaxSubCategoryId" parameterType="String" resultType="String">
		SELECT MAX(category_id)
	    FROM category
	    WHERE parent_category = #{parentId}
	</select>
	
	<!-- 옵션 목록 -->
	<select id="optionList" resultType="com.example.trade.dto.Option">
		SELECT
			option_no AS optionNo,
			option_name AS optionName,
			option_name_value AS optionNameValue
		FROM `option`
	</select>
	
	<!-- 상품 요청 리스트 조회 -->
	<select id="productRequestList" resultType="com.example.trade.dto.ProductRequest">
		SELECT
		    product_request_no AS productRequestNo,
		    sub_product_request_no AS subProductRequestNo,
		    address_no AS addressNo,
		    product_name AS productName,
		    product_option AS productOption,
		    product_quantity AS productQuantity,
		    requests,
		    status,
		    create_user AS createUser,
		    create_date AS createDate
		FROM
		    product_request
		WHERE use_status = 'Y'
		ORDER BY
		    product_request_no DESC,
		    sub_product_request_no ASC;
	</select>
	
	<!-- 상품 요청 상세 조회 -->
	<select id="productRequestOne" parameterType="int" resultType="map">
		SELECT
		    pr.product_request_no AS productRequestNo,
		    pr.sub_product_request_no AS subProductRequestNo,
		    pr.address_no AS addressNo,
		    a.postal,
		    a.address,
		    a.detail_address,
		    pr.product_name AS productName,
		    pr.product_option AS productOption,
		    pr.product_quantity AS productQuantity,
		    pr.requests,
		    pr.status,
		    pr.create_user AS createUser,
		    pr.create_date AS createDate
		FROM product_request pr INNER JOIN address a
			ON pr.address_no = a.address_no
		WHERE product_request_no = #{requestNo}
		ORDER BY
		    product_request_no DESC,
		    sub_product_request_no ASC;
	</select>
	
	<!-- 상품 요청 첨부파일 조회 -->
	<select id="attachmentByRequestNo" parameterType="int" resultType="map">
		SELECT
			attachment_no as attchmentNo,
		    category_code AS requestNo,
		    filepath,
		    filename
		FROM 
		    attachment
		WHERE 
		    attachment_code = 'PRODUCT_REQUEST_FILE'
		AND category_code = #{requestNo}
		AND use_status = 'Y'
		order BY priority ASC
	</select>
	
	<!-- 상품 번호 찾기 -->
	<select id="findProductNoByName" resultType="int">
	    SELECT product_no
	    FROM product
	    WHERE product_name = #{productName}
	    LIMIT 1
	</select>
	
	<!-- 상품 최대 번호 찾기 -->
	<select id="findMaxProductNo" resultType="int">
	    SELECT MAX(product_no)
	    FROM product
	</select>
	
	<!-- 같은 상품명, 옵션 있는지 확인 -->
	<select id="existsByProductNameAndOptionNo" resultType="boolean" parameterType="map">
	    SELECT CASE WHEN COUNT(*) > 0 THEN TRUE ELSE FALSE END
	    FROM product
	    WHERE product_name = #{productName}
	      AND option_no = #{optionNo}
	</select>

	<!-- attachment 이미지 최대 priority 조회 -->
	<select id="findMaxPriorityByCategoryCode" resultType="int">
	    SELECT MAX(priority)
	    FROM attachment
	    WHERE attachment_code = 'PRODUCT_IMAGE'
	    AND category_code = #{categoryCode}
	</select>
	
	<!-- attachment 상품요청 첨부파일 최대 priority 조회 -->
	<select id="findMaxPriorityByRequestNo" resultType="int">
	    SELECT MAX(priority)
	    FROM attachment
	    WHERE attachment_code = 'PRODUCT_REQUEST_FILE'
	    AND category_code = #{requestNo}
	</select>
	
	<!-- 재고 목록 조회 -->
	<select id="inventoryList" resultType="map">
		SELECT
			i.inventory_id AS inventoryId,
			p.product_no AS productNo,
			p.option_no AS optionNo,
			i.address_no AS addressNo,
			p.product_name AS productName,
			o.option_name_value AS optionNameValue,
			p.price,
			i.quantity,
			a.postal,
			a.address,
			a.detail_address AS detailAddress
		FROM inventory i
		INNER JOIN product p
			ON i.product_no = p.product_no
			AND i.option_no = p.option_no
		INNER JOIN `option` o
			ON o.option_no = p.option_no
		LEFT JOIN address a
			ON i.address_no = a.address_no
	</select>
	
	<!-- 창고 주소 불러오기 -->
	<select id="warehouse" parameterType="String" resultType="com.example.trade.dto.Address">
		SELECT 
			address_no AS addressNo,
			postal,
			address,
			detail_address AS detailAddress,
			main_address AS mainAddress
		FROM address
		WHERE user_id = #{id}
	</select>
	
	<!-- 상품 상태 리스트 조회 -->
	<select id="productStatusCode">
		SELECT 
			code_number AS codeNumber, 
			code_name AS codeName
		FROM comm_tbl 
		WHERE use_status = 'Y' 
		AND code_number LIKE 'GS%' 
		ORDER BY parameter2
	</select>

	<!-- 대표 배송지 받아오기 -->
	<select id="mainAddress" parameterType="String" resultType="int">
		SELECT address_no AS addressNo
		FROM address
		WHERE user_id = #{id}
			AND main_address = 'Y'
	</select>
	
	<!-- 현재 남은 재고 조회 -->
	<select id="currentStock" parameterType="int" resultType="int">
		SELECT quantity
		FROM inventory
		WHERE product_no = #{productNo}
			AND option_no = #{optionNo}
	</select>
	
	<!-- 찜 테이블에 찜 삽입 -->
	<insert id="insertWish">
		INSERT INTO wish_list (user_id, product_no, use_status, create_user)
	    VALUES (#{userId}, #{productNo}, #{useStatus}, #{userId})
	</insert>
	
	<!-- 장바구니에 담기 -->
	<insert id="insertCart" parameterType="map">
	    INSERT INTO shopping_cart (user_id, product_no, option_no, quantity, create_user, use_status)
	    VALUES (#{userId}, #{productNo}, #{optionNo}, #{quantity}, #{userId}, 'Y')
	</insert>
	
	<!-- 주문 데이터 삽입 -->
	<insert id="insertOrder" parameterType="com.example.trade.dto.Order">
		INSERT INTO `order` (order_no, sub_order_no, user_id, address_no, product_no, option_no, 
				product_name, option_name, option_name_value, order_quantity, price,
				order_status, delivery_status, create_user, use_status)
        VALUES (#{orderNo}, #{subOrderNo}, #{userId}, #{addressNo}, #{productNo}, #{optionNo}, 
        		#{productName}, #{optionName}, #{optionNameValue}, #{orderQuantity}, #{price},
        		#{orderStatus}, #{deliveryStatus}, #{createUser}, 'N')
	</insert>
	
	<!-- 상품 요청 입력 -->
	<insert id="insertProductRequest" parameterType="com.example.trade.dto.ProductRequest" useGeneratedKeys="true" keyProperty="productRequestNo" keyColumn="product_request_no">
		INSERT INTO product_request(product_request_no, sub_product_request_no, address_no, product_name,
				product_option, product_quantity, requests, create_user, use_status)
		VALUES (#{productRequestNo}, #{subProductRequestNo}, #{addressNo}, #{productName},
				#{productOption}, #{productQuantity}, #{requests}, #{createUser}, #{useStatus}
				)
	</insert>
	
	<!-- 재고 초기 세팅 -->
	<insert id="insertInventory" parameterType="map">
	    INSERT INTO inventory (product_no, option_no, quantity)
	    VALUES (#{productNo}, #{optionNo}, 0)
	</insert>
	
	<!-- 카테고리 추가 -->
	<insert id="insertCategory" parameterType="com.example.trade.dto.Category">
		INSERT INTO category (
			category_id, parent_category, category_name,
			create_user, use_status)
		VALUES (
			#{categoryId}, #{parentCategory}, #{categoryName},
			#{createUser}, 'Y')
	</insert>

	<!-- 옵션 추가 -->
	<insert id="insertOption" parameterType="com.example.trade.dto.Option" useGeneratedKeys="true" keyProperty="optionNo">
		INSERT INTO `option`(
			option_name, option_name_value, create_user, use_status)
		VALUES (
			#{optionName}, #{optionNameValue}, #{createUser}, 'Y')
	</insert>

	<!-- 상품 추가 -->
	<insert id="insertProduct" parameterType="com.example.trade.dto.Product">	
		INSERT INTO product(
			product_no, option_no, product_name, product_status,
			category_id, price, create_user, use_status)
		VALUES (
			#{productNo}, #{optionNo}, #{productName}, 'GS001',
			#{categoryId}, #{price}, #{createUser}, 'Y')
	</insert>
	
	<!-- 상품 이미지 등록 -->
	<insert id="insertAttachment" parameterType="com.example.trade.dto.Attachment">
        INSERT INTO attachment
            (attachment_code, category_code, priority, filepath, filename, create_user, use_status)
        VALUES
            (#{attachmentCode}, #{categoryCode}, #{priority}, #{filepath}, #{filename}, #{createUser}, #{useStatus})
    </insert>
    
	<!-- 찜 삭제 -->
	<update id="deleteByUserNameAndProductNos">
		UPDATE wish_list
		SET use_status = 'N',
			update_user = #{userName},
			update_date = NOW()
		WHERE user_id = #{userName}
		AND product_no IN
		    <foreach item="productNo" collection="productNoList" open="(" separator="," close=")">
		        #{productNo}
		    </foreach>
	</update>
	
	<!-- 개인 장바구니 수량 변경 -->
	<update id="updateCartQuantity" parameterType="map">
	    UPDATE shopping_cart
	    SET quantity = #{quantity},
	    	update_user = #{userId},
	    	update_date = NOW()
	    WHERE shopping_cart_no = #{shoppingCartNo}
	</update>

	<!-- 개인 장바구니 상품 삭제 -->
	<update id="deleteCartItemById" parameterType="map">
		UPDATE shopping_cart
		SET use_status = 'N',
			update_user = #{userId},
	    	update_date = NOW()
		WHERE shopping_cart_no = #{cartId}
	</update>
	
	<!-- 찜 삭제/등록(하나만) -->
	<update id="updateWishStatus" parameterType="map">
		UPDATE wish_list
	    SET use_status = #{useStatus},
	        update_user = #{userId},
	        update_date = NOW()
	    WHERE user_id = #{userId}
	      AND product_no = #{productNo}
	</update>
	
	<!-- 상품 요청 첨부파일 삭제 -->
	<update id="deleteAttachment">
	    UPDATE attachment
	    SET use_status = 'N',
	    	update_user = #{userId},
	        update_date = NOW()
	    WHERE attachment_no = #{attachmentNo}
	</update>
	
	<!-- 상품에 대한 첨부파일 모두 삭제 -->
	<update id="deleteProductAttachment">
	    UPDATE attachment
	    SET use_status = 'N',
	    	update_user = #{userId},
	        update_date = NOW()
	    WHERE category_code = #{requestNo}
	    AND attachment_code = 'PRODUCT_REQUEST_FILE'
	</update>
	
	<!-- 상품 요청 수정 -->
	<update id="updateProductRequest" parameterType="com.example.trade.dto.ProductRequest">
	    UPDATE product_request
	    SET
	        product_name = #{productName},
	        product_option = #{productOption},
	        product_quantity = #{productQuantity},
	        address_no = #{addressNo},
	        requests = #{requests},
	        update_user = #{updateUser},
	        update_date = NOW()
	    WHERE
	        product_request_no = #{productRequestNo}
	        AND sub_product_request_no = #{subProductRequestNo}
	</update>
	
	<!-- 상품 요청 삭제 -->
	<update id="deleteProductRequest">
		UPDATE product_request
		SET use_status = 'N',
	    	update_user = #{userId},
	        update_date = NOW()
		WHERE product_request_no = #{requestNo}
	</update>
	
	<!-- 상품 상태 변경 -->
	<update id="updateProductStatus">
		UPDATE product
	    SET product_status = #{productStatus},
	    	update_user = #{userId},
	    	update_date = NOW()
	    WHERE product_no = #{productNo}
	</update>
	
	<!-- 상품+옵션 상태 변경 -->
	<update id="updateProductAndOptionStatus">
		UPDATE product
	    SET product_status = #{productStatus},
	    	update_user = #{userId},
	    	update_date = NOW()
	    WHERE product_no = #{productNo}
	    AND option_no = #{optionNo}
	</update>

	<!-- 상품 옵션 가격 변경 -->
	<update id="updateProductOptionPrice">
		UPDATE product
		SET price = #{price},
	    	update_user = #{userId},
	    	update_date = NOW()
		WHERE product_no = #{productNo}
		AND option_no = #{optionNo}
	</update>
	
	<!-- 상품 이미지 삭제 -->
	<update id="deleteProductImage">
		UPDATE attachment
		SET use_status = 'N',
			update_user = #{userId},
			update_date = NOW()
		WHERE category_code = #{productNo}
			AND filepath = #{imagePath}
	</update>
	
	<!-- 재고 수정 -->
	<update id="updateInventoryQuantity">
		UPDATE inventory
	    SET quantity = #{quantity}
	    WHERE inventory_id = #{inventoryId}
	</update>
	
	<!-- 상품 사용여부 변경 -->
	<update id="updateProductUseStatus">
		UPDATE product
	    SET use_status = #{useStatus},
	    	update_user = #{userId},
	    	update_date = NOW()
	    WHERE product_no = #{productNo}
	</update>
	
	<!-- 재고 창고 등록 -->
	<update id="updateInventoryAddress" parameterType="Integer">
		UPDATE inventory
	    SET address_no = #{addressNo}
	    WHERE inventory_id = #{inventoryId}
	</update>
</mapper>