<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.trade.mapper.QuotationMapper">
	<select id="getQuotationList" resultType="com.example.trade.dto.Quotation">
		SELECT 
		    q.quotation_no AS quotationNo,
		    q.sub_product_request_no AS subProductRequestNo,
		    q.product_request_no AS productRequestNo,
		    q.price AS price,
		    q.status AS status,
		    q.refusal_reason AS refusalReason,
		    q.create_user AS createUser,
		    q.create_date AS createDate,
		    pr.product_name AS productName,
		    pr.product_quantity AS productQuantity
		FROM quotation q
		INNER JOIN product_request pr ON q.sub_product_request_no = pr.sub_product_request_no
		WHERE pr.create_user = #{userId}
		ORDER BY q.quotation_no, q.sub_product_request_no
	</select>

<select id="getQuotationOne" resultType="com.example.trade.dto.Quotation">
	SELECT 
	    q.quotation_no AS quotationNo,
	    q.sub_product_request_no AS subProductRequestNo,
	    q.price AS price,
	    q.status AS status,
	    q.create_user AS createUser,
	    pr.create_date AS createDate,
	    pr.product_name AS productName,
	    pr.product_quantity AS productQuantity
	FROM quotation q
	INNER JOIN product_request pr 
	    ON q.product_request_no = pr.product_request_no
	WHERE q.quotation_no = #{quotationNo}
	  AND q.sub_product_request_no = #{subProductRequestNo}
</select>
	
	<update id="updateStatusAtApprove">
		UPDATE quotation
		SET status = '승인'
		WHERE quotation_no = #{quotationNo} AND sub_product_request_no = #{subProductRequestNo}
	</update>
	
	<update id="updateStatusAtReject">
		UPDATE quotation
		SET status = '승인거절'
			,update_user = #{userId}
			,refusal_reason = #{rejectionReason}
			,update_date = NOW()
		WHERE quotation_no = #{quotationNo} 
		AND sub_product_request_no = #{subProductRequestNo}
	</update>
	
	<select id="getQuotaionOneByQuotationNo" resultType="com.example.trade.dto.Quotation">
		SELECT 
			 quotation_no AS quotationNo
			,sub_product_request_no AS subProductRequestNo
			,product_request_no AS productRequestno
			,price ,status
			,refusal_reason AS refusalReason
			,create_user AS createUser
			,create_date AS createDate
		FROM quotation
		WHERE product_request_no = #{productRequestNo}
	</select>
</mapper>