<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.trade.mapper.ReviewMapper">
	<update id="addReview" >
		UPDATE `order`
		SET grade = #{grade}
			,review = #{review}
			,review_reward = FLOOR(price * 0.01)
			,review_reward_status = 'Y'
		WHERE order_no = #{orderNo}
		AND sub_order_no = #{subOrderNo}
	</update>
</mapper>