<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.trade.mapper.UserMapper">

	<!-- Security 로그인용 회원 조회 -->
	<select id="findById" parameterType="string" resultType="com.example.trade.domain.UserDomain">
		SELECT
			id, password, customer_category AS customerCategory
		FROM user
		WHERE id = #{id}
	</select>
	
	<!-- 회원가입 삽입 -->
    <insert id="insertUser" parameterType="com.example.trade.dto.User">
	INSERT INTO user (
		id, password, customer_category, name, phone, sn, email, postal, address, detail_address,
		simple_password, create_user, create_date, update_user, update_date,
		company_name, bussiness_no, total_reward, failed_login_count, customer_status
	) VALUES (
		#{id}, #{password}, #{customerCategory}, #{name}, #{phone}, #{sn}, #{email}, #{postal}, #{address}, #{detailAddress},
		#{simplePassword}, #{createUser}, NOW(), #{updateUser}, #{updateDate},
		#{companyName}, #{bussinessNo}, #{totalReward}, #{failedLoginCount}, #{customerStatus}
	)
    </insert>
</mapper>