<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.trade.mapper.UserMapper">

	<!-- Security 로그인용 회원 조회 -->
	<select id="findById" parameterType="string" resultType="com.example.trade.domain.UserDomain">
		SELECT
			id, password, customer_category AS customerCategory
		FROM user
		WHERE id = #{id}
	</select>
</mapper>